{% extends 'base.html' %}

{% block content %}
<h1 class="text-2xl font-bold pb-4">Profile</h1>
<div class="w-3/4">
    <div class="story-card p-4 rounded-lg border border-gray-300">
        <div class="flex justify-between items-center pb-2">
            <p class="text-2xl font-bold">{{ user.username }}</p>
            <div>
                <a href="{{ url_for('profile.edit_profile') }}" class="mr-4 hover:underline hover:text-gray-300">Edit Profile</a>
                <a href="{{ url_for('profile.change_password') }}" class="hover:underline hover:text-gray-300">Change Password</a>
            </div>
        </div>

        <hr>
        <div class="py-4">
            <p class="pt-4 font-bold">ABOUT</p>
            <p class="break-all overflow-wrap-anywhere">{{ user.about | default('-', true) }}</p>
            <p class="pt-4 font-bold">PHONE NUMBER</p>
            <p class="break-all overflow-wrap-anywhere">{{ user.phone_number }}</p>
            <p class="pt-4 font-bold">EMAIL</p>
            <p class="break-all overflow-wrap-anywhere">{{ user.email }}</p>
            <p class="pt-4 font-bold">WEBSITE</p>
            <p class="break-all overflow-wrap-anywhere">{{ user.website | default('-', true) }}</p>
            <p class="pt-4 font-bold">DESCRIPTION</p>
            <article class="prose" id="description"></article>
        </div>
    </div>
</div>

{% if stories %}
<div class="py-8">
    <p class="text-xl font-bold mb-4">Stories written by this user:</p>
    <div class="grid grid-cols-1 gap-4">
        {% for story in stories %}
            <div class="py-2 ">
                <a href="{{ url_for('story.read_story', story_id=story.id) }}" class="story-title text-l font-semibold hover:text-gray-300 underline">{{ story.title }}</a>
                <p class="story-description text-gray-600">{{ story.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<script defer>
    const content = {{ user.description | tojson }}
    document.querySelector("#description").innerHTML = DOMPurify.sanitize(
      marked.parse(content)
    );
    
</script>
{% endblock %}