{% extends 'base.html' %}

{% block content %}
<div class="stories">
    <h1 class="text-2xl font-bold mb-4">Recently Created Stories</h1>
    {% if recent_stories %}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for story in recent_stories %}
                <div class="story-card p-4 rounded-lg border border-gray-300 shadow-md hover:shadow-lg space-y-1">
                    <h2 class="story-title text-xl font-semibold">{{ story.title }}</h2>
                    <p class="story-description text-gray-500">{{ story.description }}</p>
                    <div class="flex flex-wrap gap-2">
                        {% for genre in story.genres %}
                          <div class="badge badge-secondary">{{ genre }}</div>
                        {% endfor %}
                      </div>
                    <a href="{{ url_for('story.read_story', story_id=story.id) }}" class="btn btn-primary mt-2 ml-auto float-right">Read</a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No stories found.</p>
    {% endif %}
</div>
{% endblock %}